* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background: #f4f4f4;
  color: #333;
  margin: 0;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

#container {
  max-width: 600px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid #ccc;
  margin: 20px auto;
  font-size: 16px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
}

#title {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

#input-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 10px;
}

#task-input {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#task-list {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: lightsteelblue;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.task-container {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  padding: 10px;
  background: white;
  border-radius: 5px;
}

.checkbox-and-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.task-title {
  font-size: 16px;
  padding-right: 5px;
}

.features {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reminder-icon {
  margin-left: auto;
  cursor: pointer;
}

.button {
  background: #015bbc;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #004a99;
}

.remove-button {
  background: #dd4444;
  margin-left: auto;
  background: url("delete1.svg") no-repeat center, #dd4444;
  width: 35px;
  height: 35px;
}

.remove-button:hover {
  background: url("delete2.svg") no-repeat center, #bb0000;
}

#filter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

#dark-mode-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

body.dark-mode {
  background: #333;
  color: #f4f4f4;
}

#container.dark-mode {
  background: #444;
  border-color: #555;
}

#title.dark-mode {
  color: #f4f4f4;
}

#task-list.dark-mode {
  background: #666;
}

.task-container.dark-mode {
  background: #555;
}

#no-tasks-icon {
  max-width: 150px;
  margin: 0 auto;
  display: none;
}

.active {
  background: darkblue;
  color: white;
}
